@import url('reset.css');
@import url('commons.css');

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    padding: 20px;
    /* border-bottom: 1px solid #f9f9f9; */
    z-index: 10;
    opacity: 1;
}
.navbar-nav{
    flex-direction: row !important;
    cursor: pointer;
    align-items: center;
}
.nav-item{
    margin: 0px 10px;
}
.navbar-brand{
    margin: 0 25px;
}
.hover-menu{
    width: 100%;
    position: absolute;
    top:-1300px;
    left: 0;
    z-index: -1;
}
.hover-menu ul{
    margin-top: 80px;
}
.hover-menu li{
    margin: 30px ;
}
.menu-active{
    top:0px;
    transition: all .5s;
    background-color: #f9f9f9;
    border-radius: 0 0 30px 30px;
}
.red-active{
    color: #C80A1E;
}
.nav-item h1{
    font-size: 16px;
    font-weight: 600;
}
.icon{
    font-size: 24px;
}
/* .left{
    display: none;
    margin-left: 200px;
} */
.nav-item input{
  border: none;
  border-bottom: 2px solid #C80A1E;
  background: none;
}
.nav-item input::placeholder{
  font-size: 14px;
  padding-bottom: 5px;
}

.sticky{
  opacity: 0;
}


/* header end */

/* slide section start */
.slider{
    padding: 0px;
}

/* slider section end */

/* recommand section start */
.recommand img{
  width: 100%;
}

.auto-Swiper {
  /* height: calc(50vh - 120px); */
  margin-top: 30px;
  width: 100%;
  overflow: hidden;
}

.auto-Swiper > .swiper-wrapper{
  transition-timing-function : linear;
}

.AutoSwiper .swiper-slide {
  overflow: hidden;
}

figure.snip1432 {
  position: relative;
  overflow: hidden;
  /* min-width: 230px;
  max-width: 315px; */
  width: 100%;
  color: #ffffff;
  text-align: left;
}
figure.snip1432 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

figure.snip1432 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
figure.snip1432 figcaption > div {
  height: 97%;
  overflow: hidden;
  width: 100%;
  position: relative;
}
figure.snip1432 h2,
figure.snip1432 h3 {
  margin: 0;
  position: absolute;
  left: 0;
  padding: 30px;
  text-transform: uppercase;
}
figure.snip1432 h3 {
  font-size: 1em;
  bottom: 0;
  font-weight: 500;
}
.h1{
  font-size: 18px;
}
.p{
  color: #C80A1E;
}

figure.snip1432.hover figcaption h3:first-of-type{
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

figure.snip1432 h3:nth-of-type(2) {
  opacity: 0;
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
}

.snip1432 img {
  filter: brightness(0.8);
}
figure.snip1432:hover img{
  transform: scale(1.1);
  transition: .6s;
  filter: brightness(0.5);
}
figure.snip1432:hover figcaption h3:first-of-type {
  -webkit-transform: translateY(150%);
  transform: translateY(150%);
  opacity: 0;
}
figure.snip1432:hover figcaption h3:nth-of-type(2) {
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

/* recommand section end */

/* service section start */
.service{
  width: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.product {
  will-change: transform;
  z-index: 1;
  transform: translateY(-100%);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}

.product--active {
  transform: translateY(0);
}
.product__list {
  display: flex;
}
.product__item {
  flex: 1;
  margin-right: 10px;
  position: relative;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}
.product__item:hover .product__label{
  color: #333;
}
.product__thumb {
  display: block;
  height: 15px;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}
.product__thumb:before {
  content: attr(data-letter);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -20%);
  font-size: 50px;
  text-transform: uppercase;
  opacity: 0;
}
.product__label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  color: #999;
  margin-left: 20px;
}

.page {
  margin-top: 30px;
  height: 550px;
  will-change: transform;
  perspective: 400px;
  overflow: hidden;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}
.slidepage {
  will-change: transform;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  /* height: 100%; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}
.slide--hidden {
  transform: translateX(-100%);
}
.slidepage--active {
  transform: translateX(0) rotateY(0);
  z-index: 2;
}
.slidepage__wrapper {
  width: 100%;
  text-align: left;
  position: relative;
}
.slidepage__wrapper img{
  width: 100%;
}

.round img{
  border-radius: 20px;
}

.slidepage__title {
  /* margin: 0 0 25px 0; */
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  position: absolute;
  top:15%;
  right: 5%;
}
.star-icon{
  margin-top: 20px ;
}
.star-icon span{
  width: 22px;
  height: 22px;
}
.slidepage h1{
  font-size: 18px;
  margin-top: 20px;
  font-weight: 600;
}
.slidepage p {
  color: #666;
  margin-top: 20px;
  font-size: 14px;
}
.life-list h1{
  margin: 5px 0 0 0;
}
.life-list p{
  margin: 10px 0;
}
.life-list{
  overflow: hidden;
}



.slidepage .span-info {
  margin-top: 10px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.revwPrdct{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 5px dotted #f0f0f0;
}
.revwPrdct .re-text h5{
  font-size: 14px;
  font-weight: 600;
}
.revwPrdct .re-text p{
  margin-top: 10px;
}

.revwPrdct .img {
  width: 70px;
  height: 70px;
  margin: 0 18px 0 0;
  border-radius: 35px;
  overflow: hidden;
  cursor: pointer;
}

@media (max-width: 850px) {
  .product{
    margin-top: 16px;
    padding-left: 0;
    padding-right: 0;
  }
  .product__label {
    font-size: 14px;
  }
}

@media (max-width: 720px) {
  .product__label {
      display: none;
  }
  /* .product__thumb {
  height: 10px;
  } */
  .product__thumb:before {
  font-size: 16px;
  opacity: 0.7;
  }
  .slidepage__title {
    font-size: 28px;
  }
  .slidepage__title:before {
    top: 3.25rem;
  }
  .slidepage p {
      font-size: 16px;
    }
}


/* service section end */



.banner{
  /* background: url('../img/mainbanner.png') no-repeat center; */
  background-size: cover;
  cursor: pointer;
}

.banner-pd {
  background:url('../img/vr-pre.jpeg') no-repeat center;
  padding: 200px 0;
  opacity: 0;
  width: 0;
  transition: ease 1.3s;
}

.show{
  opacity: 1;
  width: 100%;
}

.banner-pd img{
  width: 200px;
}

.click-view{
  position: absolute;
  top:-8%;
  right: 10%;
}
.banner-pd .btn{
  /* position: absolute;
  bottom: 10%;
  left: 45%; */
  padding: 10px 25px;
  margin-top: 30px;
  border: 1px solid #333;
  color: #333;
  transition: .5s;
}
.xi-mouse-pointer{
  margin-left: 15px;
}
.banner-pd .btn:hover{
  color: #f9f9f9;
}
.banner-pd .btn:hover{
  background: #000;
  transition: ease 1s;
}
.banner-text h1{
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: 400;
  word-break: keep-all;
}

.banner-text span{
  font-weight: 900;
}



/* share start */
.share-content{
  margin-top: 30px;
}
.more{
  margin-top:30px;
  align-items: center;
}
.more .mont a{
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 2px solid #333;
  text-transform: uppercase;
  transition: all .3s;
}
.more .mont:hover a{
  color: #C80A1E;
  border-bottom: 2px solid #C80A1E;
}
.share-content h1{
  font-size: 30px;
  font-family: 'Montserrat',sans-serif;
}
.share-content .swiper{
  padding: 20px 0px 50px 0;
}

.share-content .swiper img{
  width: 100%;
}

.swiper-pagination-bullet{
  background: #333;
  opacity: 0.3;
}

.swiper-pagination-bullet-active{
  transform: scale(1.2);
  transition: all 0.3s;
  background: #333;
  opacity: 1;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
  bottom: 20px;
}

.instaswiper .swiper-slide{
  position: relative;
}
.img-text{
  position: absolute;
  top:150%;
  left: 30%;
  transform: translate(-30%,-50%);
  color: #fff;
  transition: all .5s;
}

/* .add{
  top:50%;
  left: 30%;
  transform: translate(-30%,-50%);
  opacity: 0;
} */

.on-mouse:hover img{
  filter: brightness(0.6);
}
.on-mouse:hover .img-text{
  top:50%;
}

.img-text h1{
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}
.img-text p{
  font-size: 14px;
  margin-bottom: 10px;
}

.video-text{
  margin: 30px 0;
}
.video-text h1{
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}
.video-text p{
  margin-bottom: 5px;
  font-weight: 200;
}


.p-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 70px !important;
}
/* share section end */





/* footer start */
footer{
  background-color: #f0f0f0;
  font-size: 12px;
  margin-top: 100px;
  padding: 80px 0;
}


.footer_inner_item a img{
  margin: 10px auto;
}

.footer_inner_item ul dl{
  display: flex;
  margin-bottom: 10px;
}

.footer_inner_box .footer_inner_item ul li{
  margin: 10px auto;
}
.footer_inner_box .footer_inner_item dl dt {
  width: 110px;
}

.item_title{
  font-weight: 600;
}
.f13 p{
  margin-bottom: 10px;
}

.btnLst.smllSz.btnStl .btn.text {
  position: relative;
  display: inline-block;
  /* float: left; */
  padding: 5px 12px;
  font-size: 12px;
  line-height: 18px;
  border-radius: 2px;
  border: solid 1px #aaa;
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

/* footer end */

.fixed-icon{
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 999;
  cursor: pointer;
}
.fixed-icon img{
  width: 50px;
  height: 50px;
  margin: 3px 0;
}
.icon-hide{
  display: none;
}
.icon-hide ul{
  display: flex;
  flex-direction: column;
}
.gotoTop{
  display: none;
}


@media (min-width:1700px){
  .page{
    height: 680px;
  }
}



@media (min-width:992px) and (max-width:1199px) {
    
}

@media (max-width:990px) {
  .left{
      margin-left: 0;
  }
  /* .recommand .swiper-button-next {
      display: none;
  } */
}

@media (max-width:770px) {
  .product-swiper{
      margin-right: auto;
  }
}
@media (max-width:767px) {
  .footer_inner_box {
    margin-left: 0;
    margin-right: 0;
    align-items: center;
  }
  .footer_inner_box ul{
    margin-top: 20px;
  }
}



@media (max-width:539px) {
  .navbar{
      padding: 20px 0;
  }
  .navbar-brand{
      margin: 0 10px;
  }
  .more h1 span{
    display: none;
  }
}

@media (max-width:370px) {
  .product-swiper-text{
      left: 5%;
  }
}