@import url('reset.css');
@import url('commons.css');

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #f9f9f9;
    z-index: 10;
}
.navbar-nav{
    flex-direction: row !important;
    cursor: pointer;
    align-items: center;
}
.nav-item{
    margin: 0px 10px;
}
.navbar-brand{
    margin: 0 25px;
}
.hover-menu{
    width: 100%;
    position: absolute;
    top:-1300px;
    left: 0;
    z-index: -1;
}
.hover-menu ul{
    margin-top: 80px;
}
.hover-menu li{
    margin: 30px ;
}
.menu-active{
    top:0px;
    transition: all .5s;
    background-color: #f9f9f9;
    border-radius: 0 0 30px 30px;
}
.red-active{
    color: #C80A1E;
}
.nav-item h1{
    font-size: 18px;
}
.icon{
    font-size: 24px;
}
.left{
    margin-left: 200px;
}


/* header end */

/* slide section start */
.slider{
    padding: 0px;
}

/* slider section end */

/* recommand section start */
.recommand{
    width: 100%;
    position: relative;
}

.product-swiper{
    overflow: hidden;
    margin-left: auto;
    margin-right: 0;
    margin-top: 30px;
    width: 100%;
}
.product-swiper .swiper-slide{
    overflow: hidden;
    position: relative;
}
.product-swiper .swiper-slide img{
    width: 100%;
    filter: brightness(0.8);
}
.product-swiper-text{
    position: absolute;
    bottom: 5%;
    left: 10%;
}

.product-swiper-text h1{
    font-size: 20px;
    color: #fff;
}

.product-swiper-text p{
    color: #C80A1E;
}

.product-swiper .swiper-slide:hover img{
    transition: all 0.5s;
    transform: scale(1.1);
    filter: brightness(1);
}
.recommand .swiper-button-next{
    position: absolute;
    left: 0px;
    left: 18%;
    top:58%;
}
.swiper-button-next img{
    width: 150px;
    height: 150px;
}
.swiper-button-next:after{
    font-size: 0;
}
/* recommand section end */



@media (min-width:1500px){
    .recommand .swiper-button-next {
        left:500px;
    }
}


@media (max-width:1300px) {
    .recommand .swiper-button-next{
        display: none;
    }
    /* .swiper-button-next img{
        width: 100px;
        height: 100px;
    } */
}
@media (min-width:992px) and (max-width:1199px) {
    
}

@media (max-width:990px) {
    .left{
        margin-left: 0;
    }
    /* .recommand .swiper-button-next {
        display: none;
    } */
}

@media (max-width:770px) {
    .product-swiper{
        margin-right: auto;
    }
}


@media (max-width:539px) {
    .navbar{
        padding: 20px 0;
    }
    .navbar-brand{
        margin: 0 10px;
    }
}

@media (max-width:370px) {
    .product-swiper-text{
        left: 5%;
    }
}