@import url('reset.css');
@import url('commons.css');

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #f9f9f9;
    z-index: 10;
}
.navbar-nav{
    flex-direction: row !important;
    cursor: pointer;
    align-items: center;
}
.nav-item{
    margin: 0px 10px;
}
.navbar-brand{
    margin: 0 25px;
}
.hover-menu{
    width: 100%;
    position: absolute;
    top:-1300px;
    left: 0;
    z-index: -1;
}
.hover-menu ul{
    margin-top: 80px;
}
.hover-menu li{
    margin: 30px ;
}
.menu-active{
    top:0px;
    transition: all .5s;
    background-color: #f9f9f9;
    border-radius: 0 0 30px 30px;
}
.red-active{
    color: #C80A1E;
}
.nav-item h1{
    font-size: 18px;
}
.icon{
    font-size: 24px;
}
.left{
    margin-left: 200px;
}


/* header end */

/* slide section start */
.slider{
    padding: 0px;
}

/* slider section end */

/* recommand section start */
.recommand{
    width: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.product {
    will-change: transform;
    z-index: 1;
    transform: translateY(-100%);
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
}

.product--active {
    transform: translateY(0);
}
  .product__list {
    display: flex;
  }
  .product__item {
    flex: 1;
    margin-right: 10px;
    position: relative;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .product__item:hover .product__label{
    color: #333;
  }
  .product__thumb {
    display: block;
    height: 15px;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .product__thumb:before {
    content: attr(data-letter);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-transform: uppercase;
    opacity: 0;
  }
.product__label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: #999;
    margin-right: 20px;
}

  .page {
    margin-top: 30px;
    height: 500px;
    will-change: transform;
    perspective: 400px;
    overflow: hidden;
    transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .slidepage {
    will-change: transform;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    /* height: 100%; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(100%);
    transition: all 0.7s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .slide--hidden {
    transform: translateX(-100%);
  }
  .slidepage--active {
    transform: translateX(0) rotateY(0);
    z-index: 2;
  }
  .slidepage__wrapper {
    width: 100%;
    position: relative;
  }
  .slidepage__wrapper img{
    max-width: 100%;
  }
  .slidepage__title {
    /* margin: 0 0 25px 0; */
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    position: absolute;
    top:15%;
    right: 5%;
  }
  .slidepage p {
    margin: 0 0 25px 0;
    font-family: 'Georgia';
    font-size: 18px;
    color: #fff;
    opacity: 0.55;
  }
  .slidepage p:last-child {
    margin-bottom: 0;
  }
  @media (max-width: 850px) {
    .product{
      margin-top: 16px;
      padding-left: 0;
      padding-right: 0;
    }
    .product__label {
      font-size: 14px;
    }
  }

  @media (max-width: 720px) {
    .product__label {
        display: none;
    }
    /* .product__thumb {
    height: 10px;
    } */
    .product__thumb:before {
    font-size: 16px;
    opacity: 0.7;
    }
    .slidepage__title {
      font-size: 28px;
    }
    .slidepage__title:before {
      top: 3.25rem;
    }
    .slidepage p {
        font-size: 16px;
      }
  }


/* recommand section end */

.banner{
  /* background: url('../img/mainbanner.png') no-repeat center; */
  background-size: cover;
  cursor: pointer;
  padding: 50px 0;
  background-color: #F0F0F0;
}
.banner img{
  width: 100%;
}

.service img{
  width: 100%;
}
.share-content{
  margin-top: 30px;
}

.share-content h1{
  font-size: 24px;
  font-family: 'Montserrat',sans-serif;
}
.share-content .swiper{
  padding: 30px 0 30px 0;
}

.share-content .swiper img{
  width: 100%;
}

.swiper-pagination-bullet{
  background: #333;
  opacity: 0.3;
}

.swiper-pagination-bullet-active{
  transform: scale(1.2);
  transition: all 0.3s;
  background: #333;
  opacity: 1;
}
@media (min-width:1500px){
    .recommand .swiper-button-next {
        left:500px;
    }
}



@media (min-width:992px) and (max-width:1199px) {
    
}

@media (max-width:990px) {
    .left{
        margin-left: 0;
    }
    /* .recommand .swiper-button-next {
        display: none;
    } */
}

@media (max-width:770px) {
    .product-swiper{
        margin-right: auto;
    }
}


@media (max-width:539px) {
    .navbar{
        padding: 20px 0;
    }
    .navbar-brand{
        margin: 0 10px;
    }
}

@media (max-width:370px) {
    .product-swiper-text{
        left: 5%;
    }
}